.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ul-list {
  list-style: none;
  display: flex;
  font-size: 4em;
}

.star-selected {
  color: gold;
}

.li-list_hover {
  color: beige;
}